
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
    @Ajax.ActionLink("Pobierz godzinę z serwera", "GetTime", new AjaxOptions()
    {
        UpdateTargetId = "target",
        HttpMethod = "GET",
        LoadingElementId = "loading"
    })
    

    
    <div id="loading" style="display: none;">
        Proszę czekać...
    </div>

</div>
    
<script src="@Url.Content("~/Scripts/jquery-3.3.1.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")"></script>

</body>
</html>
